#heading {
    color: blue;
    background-color: yellow;
    /* text-decoration: line-through; */
}
body {
    background-color: pink;
}

button {
    background-color: blue;
    color: white;
}

.myClass {
    color: blue;
    background-color: yellow;
}